flask
flask-cors
flask-limiter
flask-socketio
pymongo
gunicorn
pillow
pywebpush
exponent_server_sdk
werkzeug
eventlet
simple-websocket
sendgrid
Flask-Limiter
firebase-admin
celery
redis
python-dotenv
gevent

pywebpush>=2.0.0
py-vapid>=1.9.0
cryptography>=41.0.0